.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 215px;
}

.site-header .nav-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #717172;
}

.header-buttons .btn-signup {
  padding: 12px 32px;
}

.site-header .header-links ul {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  gap: 70px;
  padding: 0px;
}

.main-headline {
  width: 800px;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: 120px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.main-title-headline {
  font-weight: 900;
  font-size: 60px;
  line-height: 80px;
}

.main-paragraph-headline {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
}

.date-and-time {
  display: flex;
  gap: 30px;
}

.section-date,
.section-time {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.section-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #424245;
}

.btn-ticket {
  padding: 20px 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.strengthening-relationships {
  width: 1280px;
}
.strengthening-relationships,
.event-bio {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-section-flex {
  display: flex;
}

.sr-img {
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .images-parent {
    height: 300px;
  }

  .sr-img {
    height: 100%;
    object-fit: cover;
  }
}

.buy-button {
  padding: 20px 32px 20px 32px;
  border: 0px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
/* .site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 214px;
  flex-direction: column;
} */
